<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ThinkBoard LMS</title>
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap-reboot.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
    <script src="js/script.js"></script>
</head>
<body>

<div id="wrap">
    
    <!-- ▼navgation -->
    <div id="nav-fixed">
        <!-- ▼h1 -->
        <div class="brand">
            <a href="#">
                <h1>
                    <div class="img_h1"><img src="images/logo_h1.png" alt="COC+ MIYAZAKi"></div>
                    <p class="authority">管理者用</p>
                </h1>
            </a>
        </div>
        <!-- ▼scrol erea -->
        <div id="scrolerea">
            <nav id="mainnav">
                <ul id="accordion" class="accordion">
                    <li>
                        <a href="#"><span><img src="images/ico_mainnav_01.png"></span>HOME</a>
                    </li>
                    <li>
                        <a class="togglebtn"><span><img src="images/ico_mainnav_02.png"></span>所属・ID設定</a>
                        <ul class="togglemenu">
                            <li><a href="#"><span><img src="images/ico_mainnav_02-01.png"></span>所属グループ設定</a></li>
                            <li><a href="#"><span><img src="images/ico_mainnav_02-02.png"></span>管理者ID設定</a></li>
                            <li><a href="#"><span><img src="images/ico_mainnav_02-03.png"></span>講師ID設定</a></li>
                            <li><a href="#"><span><img src="images/ico_mainnav_02-04.png"></span>受講者ID設定</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="togglebtn"><span><img src="images/ico_mainnav_03.png"></span>コンテンツ設定</a>
                        <ul class="togglemenu">
                            <li><a href="#"><span><img src="images/ico_mainnav_03-01.png"></span>コンテンツグループ設定</a></li>
                            <li><a href="#"><span><img src="images/ico_mainnav_03-02.png"></span>動画管理</a></li>
                            <li><a href="#"><span><img src="images/ico_mainnav_03-03.png"></span>テスト管理</a></li>
                            <li><a href="#"><span><img src="images/ico_mainnav_03-04.png"></span>アンケート管理</a></li>
                            <li><a href="#"><span><img src="images/ico_mainnav_03-05.png"></span>レポート管理</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><span><img src="images/ico_mainnav_04.png"></span>コンテンツ受講設定</a>
                    </li>
                    <li>
                        <a class="togglebtn"><span><img src="images/ico_mainnav_05.png"></span>受講状況確認</a>
                        <ul class="togglemenu">
                            <li><a href="#"><span><img src="images/ico_mainnav_05-01.png"></span>受講者の受講状況</a></li>
                            <li><a href="#"><span><img src="images/ico_mainnav_05-02.png"></span>コンテンツの受講状況</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><span><img src="images/ico_mainnav_06.png"></span>メッセージ</a>
                    </li>
                    <li>
                        <a class="togglebtn"><span><img src="images/ico_mainnav_07.png"></span>設定・その他</a>
                        <ul class="togglemenu">
                            <li><a href="#"><span><img src="images/ico_mainnav_07-01.png"></span>ヘルプ</a></li>
                            <li><a href="#"><span><img src="images/ico_mainnav_07-02.png"></span>設定</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- ▲navgation -->
    
    <!-- ▼header -->
    <div id="header">
        <!-- ▼topicpath -->
        <div id="topicpath">
            <ol>
                <li><a>HOME</a></li>
                <li class="active">所属グループ設定</li>
            </ol>
        </div>
        <!-- ▼user information -->
        <div id="userinfo" class="button-dropdown">
            <a class="link" href="javascript:void(0)">
                <div class="erea-image"></div>
                <div class="erea-name">
                    <p class="authority">学校管理者</p>
                    <p class="username">窪薗 かな</p>
                </div>
            </a>
            <ul class="submenu">
                <li role="presentation"><a href="#">ほげほげ</a></li>
                <li role="presentation"><a href="#">ふがふが</a></li>
                <li role="presentation"><a href="#">ログアウト</a></li>
            </ul>
        </div>
    </div>
    <!-- ▲header -->
    
    <!-- ▼main ※ここから機能を入れてください -->
    <div id="maincontents">
        
    </div>
    <!-- ▲main -->
</div>

</body>
</html>
