<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ThinkBoard LMS 受講者</title>
	<meta name="Author" content=""/>
	<!-- viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- favicon -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../css/bootstrap-reboot.css">
	<link rel="stylesheet" type="text/css" href="../css/icon-font.css">
	<link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/sentence.css">
    <!-- js -->
    <script src="https://code.jquery.com/jquery-2.2.3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/script.js"></script>
</head>
<body>

<div id="wrap">
    <!-- header -->
    <div id="header-bar">
        <div id="header">
            <!-- left -->
            <div class="header-left">
                <!-- h1 -->
                <div class="h1">
                    <a href="#">
                        <h1><img src="../images/logo.jpg" alt="ThinkBoard LMS"></h1>
                    </a>
                </div>
                <!-- sub menu -->
                <div class="header-submenu">
                    <div class="btn-userinfomation dropdown">
                        <a href="#" id="dropdownMenu-userinfo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <p class="erea-icon"><span class="icon-user-student"></span></p>
                            <p class="erea-username">KJS 太郎</p> <!-- ここにユーザーの名前が入ります -->
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu-userinfo">
                            <li class="PW">
                                <a href="#">パスワード変更</a>
                            </li>
                            <li class="loguot">
                                <a href="#">ログアウト</a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-help">
                        <a href="#"><span>ヘルプ</span></a>
                    </div>
                </div>
            </div>
            <!-- right -->
            <div class="header-right">
                <nav class="nav-mainmenu">
                    <ul>
                        <li>
                            <a href=""><span>TOP</span></a>
                        </li>
                        <li class="active">
                            <a href=""><span>講義受講</span></a>
                        </li>
                        <li>
                            <a href=""><span>メッセージ</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div id="container-maincontents" class="container-maincontents clearfix">
        <!-- ページタイトル -->
        <div class="sentence-top clearfix">
            <p class="text">アンケート回答</p>
            <ul class="btns">
                <li><a>講義一覧へ戻る</a></li>
            </ul>
        </div>
        
        <!-- メインボックス -->
        <div class="sentence-box">
            
            <!-- head -->
            <div class="sentence-head questionnaire">
                <div class="sentence-title">
                    <p>ここにアンケートのタイトルが入ります</p>
                </div>
            </div>
            
            <!-- body -->
            <div class="sentence-body">
                    
                    <!-- 問題タイトル -->
                    <div class="question">
                        <div class="head clearfix">
                            <!-- 問題番号 -->
                            <p class="number">Q1</p>
                            <p class="any">任意解答</p>
                        </div>
                        <div class="title"> 
                            <!-- テキスト -->
                            <p class="text">ここに質問内容が入ります。ここに質問内容が入ります。ここに質問内容が入ります。ここに質問内容が入ります。ここに質問内容が入ります。ここに質問内容が入ります。</p>
                            </div>
                        </div>
                        
                        <!-- 解答 -->
                        <div class="answer">
                            <form>
                                <textarea></textarea>
                            </form>
                            <p>※1400文字以上</p>
                        </div>
                        
                        <!-- 前へ　次へ -->
                        <div class="sentence-btns">
                            <ul>
                                <li class="back"><button>前へ</button></li>
                                <li class="next"><button>次へ</button></li>
                            </ul>
                        </div>
                    </div>
            </div>
    </div>
</div>


</body>
</html>
